extends layout

block content
    .contentPage    
        h1 Positive
            p #{positiveTweets}
        h1 Neutral 
            p #{neutralTweets}
        h1 Negative 
            p #{negativeTweets}