body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #161819;
}

a {
  color: #00B7FF;
}

.titleText{
  color: #8EF2FF;
  float: left;
  font-size: 450%;
  left: 50%;
  padding: 0 0 0 180px;
  padding-right: 3%;
}

.titleBanner{
  clear: both;
}

.homePage{
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-top: 2px solid #E36E40;
  border-bottom: 2px solid #E36E40;
}

.homeHeading{
  color: white;
}

.searchBar{
  margin-bottom: 3%;
  width: 40%;
  text-align: center;
  position: relative;
  left: 30%;
}

.container{
  clear: both;
}

.searchButton.ui.orange.basic.button{
  clear: both;
}

.trends{
  color: #8EF2FF;
  padding-bottom: 2%;
}

.emojiFace{
  margin-left: 2%;
  margin-bottom: 2%;
  border-radius: 50%;
}

.newSearchBar{
  margin-bottom: 3%;
}

.resultText{
  color:  #8EF2FF;
}

.count{
  margin-left: 3%;
  font-size: x-large;
  color: white;
}

.trendingTopics{
  text-align: center;
}

.tweetText{
  color: white;
}

.contentPage{
  margin-bottom: 5%;
  text-align: center;
}

.countArea{
  margin-bottom: 2%;
  padding-bottom: 2%;
  border-bottom: 2px solid orange;
}



